@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Droid+Sans');

.card {
  margin: 16px;
}

#root {
  background: linear-gradient(to bottom right,#455a64, #eceff1);
  padding-bottom: 300px;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
}

.md-text--secondary {
  font-family: "Droid Sans" !important;
  color: #546e7a !important;
}

.widget-body__text {
  color: #546e7a;
  font-family: "Droid Sans";
  font-weight: 400;
}

.md-card-title--title {
  font-family: "Asap Condensed";
}

.widget__card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #caebf2;
}
