@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Droid+Sans');

.card {
  margin: 16px;
}

#root {
  background: linear-gradient(to bottom right,#455a64, #eceff1);
  padding-bottom: 100%;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
}

.md-text--secondary {
  font-family: "Droid Sans" !important;
  color: #546e7a !important;
}

.widget-body__text {
  color: #546e7a;
  font-family: "Droid Sans";
  font-weight: 400;
}

.md-card-title--title {
  font-family: "Asap Condensed";
}

#widget-icon {
  margin-top: -60px;
  float: right;
  color: #62b1c1;
  cursor: pointer;

  &:hover {
    color: #ff3b3f;    
  }
}

.md-title--dialog {
  font-family: "Asap Condensed";
}

.md-card-title--primary {
  display: block !important;  
}

.md-floating-label {
  font-family: "Droid Sans";
  color: #546e7a !important;
}

.md-divider--text-field {
  &:after {
    background: #62b1c1 !important;    
  }
}

.md-dialog--centered {
  width: 50% !important;
}

.md-floating-label--active {
  color: #62b1c1 !important;  
}

.md-divider--text-field-active {
  background: #62b1c1 !important;  
}

.md-text-field {
  font-family: "Droid Sans";
}

.btn-container {
  float: right;
  margin-top: 50px;
}

.md-background--primary {
  background: #ff3b3f !important;
  font-family: "Asap Condensed";
}

.md-btn--flat {
  font-family: "Asap Condensed";
  color: #546e7a !important;
}

.widget__card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #caebf2;
}
