.header {
  text-align: center;
  border-bottom: 1px solid #caebf2;
}

.md-toolbar--themed {
  background-color: white !important;
}

.header__title {
  cursor: pointer;
}

.header__body {
  background-color: #222;
  padding: 20px;
  color: white;
}

.header__logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.header__title {
  color: white;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header__link {
  align-self: center;
  padding: 10px 15px 8px;
  color: #ff3b3f;

  &:hover{
    color: #cc2f32;
  }
}